<div class="container">
  <div class="jumbotron">
    <h1>Registration</h1>
    <h5>A new student? Please fill up the registration form below: </h5><br />
  </div>
  
  <form [formGroup]="formData" (submit)="onSubmit(formData.value)" class="needs-validation">
    <div class="form-group" style="width: 25%">
      <label>E-mail:</label>
      <input placeholder="E-mail" name="email" formControlName="email" required class="form-control">
      <div *ngIf="!formData.controls['email'].valid && formData.controls['email'].touched" class="text text-danger">E-mail is required and must be a valid e-mail!</div>
    </div>

    <div class="form-group" style="width: 25%">
      <label>Password:</label>
      <input type="password" placeholder="Password" name="password" formControlName="password" required class="form-control">
      <div *ngIf="!formData.controls['password'].valid && formData.controls['password'].touched" class="text text-danger">Password is required!</div>
    </div>

    <div class="form-group" style="width: 25%">
      <label>Confirm Password:</label>
      <input type="password" placeholder="Confirm  Password" name="confirmPassword" formControlName="confirmPassword" required class="form-control">
      <div *ngIf="!formData.controls['confirmPassword'].valid && formData.controls['confirmPassword'].touched" class="text text-danger">Confirm Password is required!</div>
    </div>

    <div class="form-group" style="width: 25%">
      <label>First name: </label>
      <input placeholder="First name" name="fName" formControlName="fName" required class="form-control">
      <div *ngIf="!formData.controls['fName'].valid && formData.controls['fName'].touched" class="text text-danger">First Name is required!</div>
    </div>

    <div class="form-group" style="width: 25%">
      <label>Middle name:</label>
      <input placeholder="Middle name" name="mName" formControlName="mName" required class="form-control">
      <div *ngIf="!formData.controls['mName'].valid && formData.controls['mName'].touched" class="text text-danger">Middle Name is required!</div>
    </div>

    <div class="form-group" style="width: 25%">
      <label>Last name:</label>
      <input placeholder="Last name" name="lName" formControlName="lName" required class="form-control">
      <div *ngIf="!formData.controls['lName'].valid && formData.controls['lName'].touched" class="text text-danger">Last Name is required!</div>
    </div>

    <div class="form-group" style="width: 25%">
      <label>Gender:</label>
      <select name="gender" formControlName="gender" required class="form-control">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <div *ngIf="!formData.controls['gender'].valid && formData.controls['gender'].touched" class="text text-danger">Gender is required!</div>
    </div>

    <div class="form-group">
      <input type="submit" value="Register" [disabled]="!formData.valid" class="btn" />
    </div>
  </form>
</div>
